@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@media only screen and (max-width: 374px) {
    header {
        border: solid;
        padding: 0% 5%;
    }

    .bar {
        width: 10%;
        text-align: center;
        position: relative;
        top: -55px;
        left: 90%;
        font-family: 'Pacifico', cursive;
        font-size: 25px;
        z-index: 1;
    }

    .box {
        display: non;
        border: solid;
        height: 100%;
        width: 100%;
        background: ;

    }
    
    .hdname {
        position: relative;
        top: -50%;
        left: 25%;
        width: 42%;
        color: black;
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        z-index: 100;
    }
    
    nav {
        display: none;
        z-index: 102;
        position: relative;
        top: -40px;
    }

    nav ul {
        border: solid;
        list-style-type: none;
        font-family: sans-serif;
        display: inline-flex;
        justify-content: space-between;
        width: 140%;
        position: relative;
        left: 220px;
    }
     img {
        display: none;
    }
}
