@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.text{
    font-family: 'Pacifico', cursive;
    font-size:1.6em;
}


.navbar-animations:hover{   
    color:white;
}

.navbar-animations{
    color:rgb(0, 0, 0);
}